<div class="about-me">
  <div class="about-image">
    <img src="../../../assets/pp.jpg" class="img-fluid pp" />
  </div>
  <div class="about-div">
    <div class="lucas">
      <p id="nombre">Lucas Stella</p>
      <p>Full Stack Developer Jr</p>
    </div>
    <div class="about-content">
      <span>
        <p class="acercademi">Acerca de mí</p>
        <p style="max-width: 600px">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum animi
          inventore, doloribus, pariatur dolores tempora obcaecati perspiciatis
          debitis eos repellendus quis nostrum accusantium iste optio minus
          ipsam, molestiae quasi impedit.
        </p>
      </span>
    </div>
  </div>
</div>
