
<div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
         <img src="../../../assets/pp.jpg" class="img-fluid" id="fotodeperfil">
     </div>
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
         <p id="nombre">Lucas Stella</p>
         <p>Full Stack Developer Jr</p>
     </div>
     <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
         <span>
             <h1>Acerca de mí</h1>
             <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum animi inventore, doloribus, pariatur dolores tempora obcaecati perspiciatis debitis eos repellendus quis nostrum accusantium iste optio minus ipsam, molestiae quasi impedit.</p>
         </span>
     </div>
</div>