.row{
    padding: 20px
}

div{
    background-color: aliceblue;
    text-align: center;
}

/*estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position:absolute;
        width: 18%;
        border-radius: 100%;
        left: 1%;
    }
}

@media (max-width: 576px){
    #fotodeperfil{
        position:center;
        width: 40%;
        border-radius: 100%;
    }
}


/*etiqueta nombre*/
#nombre{
    font-weight: bold;
}